#header {
  height: 100vh;
  background-image: url(/assets/images/desktop/image-hero.jpg);
  background-size: cover;
  padding-top: 50px;
  .header {
    display: flex;
    justify-content: space-between;
    .logo {
      cursor: pointer;
    }
    .loop {
      ul {
        @include flexBox;
        gap: 30px;
        li {
          position: relative;
          a {
            color: $pure-white;
            text-decoration: none;
            &:hover {
              &::after {
                content: "";
                border: 1px solid $pure-white;
                display: block;
                position: absolute;
                width: 100%;
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
    #menu-icon {
      display: none;
      cursor: pointer;
    }
  }
  .content {
    height: 100vh;
    display: flex;
    align-items: center;
    h1 {
      color: $pure-white;
      border: 2px solid $pure-white;
      width: 60%;
      padding: 40px;
      font-weight: 200;
      text-transform: uppercase;
      font-size: 72px;
      line-height: 70px;
    }
  }
  @media only screen and (max-width: 991px) {
    &.background {
      background: $pure-dark;
    }
    .header {
      .loop {
        display: none;
        &.show {
          display: flex;
          position: absolute;
          top: 80px;
          width: 100%;
          background: $pure-dark;
          height: 100vh;
          ul {
            flex-direction: column;
            align-items: first baseline;

            li {
              a {
                font-size: 24px;
                font-weight: 200;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      #menu-icon {
        display: block;
        color: $pure-white;
        font-size: 24px;
      }
    }
    .content {
      h1 {
        width: 100%;
        padding: 20px;
        font-size: 36px;
        line-height: 48px;
      }
    }
  }
}
